*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    /* border: 10px; */
}
#navbar{

}
#parents{
    display: flex;
    justify-content: center;
    background-color:white;
    gap: 10px;
    border: solid brown 2px;

}