
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.firstpage{
    height: 100vh;
    width: 100vw;
    background-color: darkorange;
    background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
}
 
 
#navbar{
    display: flex;
    justify-content:space-between;
    padding-right: 70px;
    padding-left: 30px;
    margin-left: 140px;
    margin-top: 30px;
    border-radius: 50px;
    width: 80%;
    /* position: sticky; */
    /* backdrop-filter: blur(45px); */
    position: fixed;
    

    /* border: solid 2px black; */
    background-color:white;
    height: 90px;
    align-items: center;
}
#navbar nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
    font-style: normal;
    
}
#navbar nav ul li a{
    color: black;
    /* text-transform: uppercase; */
        text-decoration: none;
        /* transition: font-size 2s ease; */
                transition: all 2s ease;

        

}
#navbar nav ul li a:hover{
    color: aqua;
    font-size: 30px;
    
}
#body{
    font-style:normal;
    color: white;
    display: flex;
    justify-content: center;
    padding-top:20%;
    
}
/* #hover{ */
    /* border: solid 1px rgb(69, 65, 65); */
    /* border-radius: 50px; */
    /* background-color: rgb(130, 245, 151); */
    /* height: 40px;
    width: 240px;
    background: transparent;
    display: flex;
    color: white; */


/* } */
#hover{
    
    display: flex;
   
     

}

#body img{
    margin-top: -111px;
}
#hover1{
    /* border: solid 2px red; */
    border-bottom: red;
    border-radius: 15px;
    background: transparent;
    width: 120px;
    height: 40px;
    color: white;
    /* margin-left: 40px; */
    margin-top: 40px;
    
    
}
#hover2{
    /* border: solid 2px red; */
    border-bottom: white;
    border-radius: 15px;
    background: transparent;
    width: 120px;
    height: 40px;
    color: white;
    margin-left: 40px;
    margin-top: 40px;
   
    
}
#hover1:hover{
    background-color:rgb(214, 120, 200);
}
#hover2:hover{
    background-color: rgb(74, 143, 143);
}
.secondpage{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.secondpage h1{
    
    padding-top: 200px;
    padding-left: 500px;
    color: white;
    font-size: 30px;
}
#line{
  width: 100px;
  border: solid 2px rgb(78, 54, 218);
  /* background-color: #d44f4f; */
  /* border-color: blue ; */
  /* height: 0px; */
  /* display: inline-block; */
  /* padding-top: 100px; */
  /* margin-top: 100px; */
  border-radius: 50%;
  position: absolute;
  left: 45%;
  top: 110%;
  
}
    


#color{
    color: rgb(91, 91, 224);
}
.container{
    display: flex;
    justify-content: center; 
    /* also- right,spacebetween,by defoult left,space-evenly */
    gap: 10px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin-left: 50px;
    border: solid 2px white;

}
@media(max-width:430px)
{
    #navbar{
    background-color: brown;
}
}
@media(max-width:430px)
{
    #bars{
        display: block;
        position: absolute;
        top: 40px;
        font-size: 40px;

    }
    #navbar{
    background-color: brown;
}
#navbar nav ul{
    display: none;
}

}
#check:checked~ #navbar nav ul{
    display: block;
    width: 100px;
    position: absolute;
    left: 50px;
    top: 70px;
    background-color: aqua;
}
#bars{

}